@{
    ViewData["Title"] = "Home Page";
}


@ViewBag.Roles

<h1 class="h1-description">Учет заявок на транспорт</h1>

    <div class="row">
        <div class="col-md-4">
            <h2> <span class="badge badge-pill badge-success">1</span> Порядок работы</h2>
            <ul>
                <li>Для того, чтобы начать работу с нашей системой, Вам необходимо <a href="/accout/register">зарегистрироваться</a> в ней.</li>
                <li>Далее наш менеджер по транспорту проверяет Ваши данные и связывается с Вами. После этого вы можете начать работу с системой.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2><span class="badge badge-pill badge-info">2</span> Автопарк</h2>
            <p>
               На закладке <a href="/carsanddrivers">"Автопарк"</a> находится список ваших автомобилей и водителей, которые Вы будете выбирать для работы с заявками. Вам требуется заполнить этот список.
   Обратите внимание на корректность данных свидетельства ТС и водителей.
            </p>
        </div>
        <div class="col-md-4">
            <h2><span class="badge badge-pill badge-primary">3</span> Работа с заявками</h2>
            <p>В систему автоматически загружаются заявки на транспорт со статусом "на тендере", в которых указывается пункты маршрута, объем и дата. </p>
            <p>Вы выбираете стоимость, по которой готовы доставить данный груз. Также вы указываете водителя и автомобиль,  дату и время подачи и выгрузки автомобиля. </p>
            <p>Далее наш менеджер видит заявки по маршруту и выбирает наилучшую. Если выбрана Ваша заявка - то вы будете проинформированы средством уведомлений. Статус заявки изменится на  "перевозчик выбран". </p>
        </div>
        
    </div>
