@model Logistic.Data.ClaimForTransport

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ClaimForTransport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuidIn1S" class="control-label"></label>
                <input asp-for="GuidIn1S" class="form-control" />
                <span asp-validation-for="GuidIn1S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocDate" class="control-label"></label>
                <input asp-for="DocDate" class="form-control" />
                <span asp-validation-for="DocDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberIn1S" class="control-label"></label>
                <input asp-for="NumberIn1S" class="form-control" />
                <span asp-validation-for="NumberIn1S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyDate" class="control-label"></label>
                <input asp-for="ReadyDate" class="form-control" />
                <span asp-validation-for="ReadyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineDate" class="control-label"></label>
                <input asp-for="DeadlineDate" class="form-control" />
                <span asp-validation-for="DeadlineDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrierId" class="control-label"></label>
                <select asp-for="CarrierId" class ="form-control" asp-items="ViewBag.CarrierId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

