@using Microsoft.AspNetCore.Identity
@using Logistic.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{


<ul class="menu-right">
    <li><a href="@Url.Action("List","Claims")" class="offer"><i class="ico-im task"> <div class="nomber">1</div></i><span class="hidden-xs"> Ваши заявки </span></a></li>
    <li><a href="#"><i class="ico-im garage"> </i><span class="hidden-xs"> Автопарк  </span></a></li>
    <li class="dropdown pull-center">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <i class="ico-im profile"></i> </a>
        <ul class="dropdown-menu">
            <li class="dropdown-menu-item"><a href="#">Настройки</a></li>

            
                <li class="dropdown-menu-item"> 
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <a href="#">Выход</a>
                    </form>
</li>
                
        </ul>
    </li>
</ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
</ul>
}
